:root {
  --main-color: #252525;
  --white-color: #F7F7F7;
  --placeholder-text-color: #C3C1E5;
  --element-color: #6C63FF;
  --element-hover-color: #534CC2;
  --placeholder-text-size: 16px;
  --button-text-size: 18px;
  --main-text-size: 20px;
  --standart-font-weight: 500;
  --standart-border-radius: 5px;
  --standart-input-height: 38px;
}