body {
  margin: 0;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.container {
  width: 750px;
  margin-inline: auto;
  text-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.top-bar {
  display: flex;
  height: 38px;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.search-wrapper {
  position: relative;
  width: 595px;
}

.search-input {
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  padding-inline: 10px;
  border: 1px solid #6C63FF;
  border-radius: 5px;
  font-size: 16px;
  color: #6C63FF;
}

.search-input::placeholder {
  color: #C3C1E5;
}

.search-btn {
  position: absolute;
  right: 16px;
  top: 10px;
  height: 21px;
  width: 21px;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter {
  background-color: #6C63FF;
  color: white;
  border: none;
  border-radius: 5px;
  height: 100%;
  padding-inline: 10px;
  font-weight: bold;
  cursor: pointer;
}

.filter option {
  background-color: #fff;
  color: #6C63FF;
}

.theme-toggle {
  background-color: #6C63FF;
  color: white;
  border: none;
  border-radius: 5px;
  height: 100%;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.main {
  flex: 1;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ddd;
  padding-block: 10px;
}

.todo-item__left {
  display: flex;
  gap: 17px;
  align-items: center;
}

.todo-item input {
  height: 26px;
  aspect-ratio: 1/1;
  accent-color: #6C63FF;
}

.todo-item span {
  font-size: 20px;
  line-height: 100%;
  color: #252525;
}

.todo-item__completed span {
  text-decoration: line-through;
  opacity: 50%;
}

.todo-item__right {
  display: flex;
  gap: 8px;
}

.footer {
  display: flex;
  justify-content: end;
  margin-bottom: 32px;
  margin-right: 8px;
}

.add-btn {
  background-color: #534CC2;
  box-shadow: 0px 0px 4px 0px #6C63FF;
  border: 0;
  box-sizing: border-box;
  color: white;
  border-radius: 50%;
  font-size: 32px;
  line-height: 100%;
  text-align: center;
  width: 50px;
  aspect-ratio: 1/1;
  cursor: pointer;
}

.add-btn:hover {
  border: 2px solid #6C63FF;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(25, 25, 25, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.hidden {
  display: none;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #F7F7F7;

  box-sizing: border-box;
  width: 500px;
  height: 289px;
  top: 118px;
  left: 450px;
  border-radius: 16px;
  padding-inline: 30px;
  padding-block: 18px;
}

.modal-content__top {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.modal-content__title {
  align-self: center;
  font-size: 24px;
}

.modal-content__input {
  width: 100%;
  box-sizing: border-box;
  height: 38px;
  padding-left: 16px;
  border: 1px solid #6C63FF;
  border-radius: 5px;
  outline: none;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  height: 38px;
  border-radius: 5px;
  padding-inline: 22px;
  padding-block: 10px;
}

.btn-cancel {
  background-color: inherit;
  color: #6C63FF;
  border: 1px solid #6C63FF;
}

.btn-cancel:hover {
  background-color: #aaa9c2;
}

.btn-apply {
  background-color: #6C63FF;
  color: #F7F7F7;
  border:  none;
}